{% extends 'core/base.html' %}


{% block contenido %}

<div>
    <h1 class="titulo_contenido" >RESCATE</h1>
    <br>
    <h4 class="subtitulo_contenido" >ETAPA UNO</h4>
    <br>
    <hr class="linea">
    <br>
    <p class="texto_contenido">Rescatamos perros en situacion de peligro y/o abandono.Los rehabilitamos y los</p>
    <p class="texto_contenido"> preparamos para buscarles un hogar</p>
    <br>
    <br> 
</div>
    
<div>    
   
    <h1 class="titulo_contenido1">CROWDFUNDING</h1>
    <br>
    <h4 class="subtitulo_contenido1" >FINANCIAMIENTO</h4>
    <br>
    <hr  class="linea2">
    <br>
    <p class="texto_contenido1">Sigue nuestas redes sociales para informarte acerca de las diversas campañas y </p>
    <p class="texto_contenido1">actividades que realizamos para obtener financiamiento para seguir ayudando</p>
    <br>
    <br>
</div>

{% endblock contenido %}