*{
margin: 0;
padding: 0;
}

.bx-wrapper {
    background-color:#6DCCAA!important;
    border:none!important;
    box-shadow: none!important;
}

.galeria img {
    width: 357.20px;
    height: 450px;
    margin: auto;
}

header{
    width: 100%;
    background-color:#84D3B6;
}

.logo{
    width: 290px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    
}

.navegacion{

    float: right;
    margin-top: 20px;
    color: white;
    margin-right: 400px;
    
}

.navegacion li {
    display: inline-block;
    margin-right: 50px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 5px;
    text-align: right;
  
}
.navegacion li:hover {
    border-radius: 20px;
}

.navegacion li a {
    color:white;
    font-weight: bold;
    text-decoration :none ;
}

.landing {
    width: 100%;
    height: auto;
    background-color: #6DCCAA;
}
.imagen_landing{
    margin:auto;
    display: block;
    width: auto;
    height: auto;
}

.landing_inferior
{
    display: flex;
    justify-content: space-around;
    background-color: #6DCCAA;
    width: 100%;
}

.landing_inferior li
{
    padding-bottom: 20px;
}




.auto_landing {
    width: 900px;
    height: 350px;
    margin:auto;
    display: block;
}

.eslogan {
    color:white;
    font-size: 20px;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
    margin-left: -100px;
    
}

.mensaje {
    color:white;
    font-size: 15px;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
    
}

.social {
    float: right;
    display: flex;
    justify-content: flex-end;
    width: 100px;
}

.social li {
    display: inline-block;
    margin-right: 10px;

}
.social li img {
    width: 36px;
    height: 36px;
}

.contenido {
    padding: 20px;
    display: flex;
    justify-content: space-between;
 
 }
 
 .contenido > div{
     width: 100%;
     
     }
 
 
 .titulo_contenido{
     margin-right: 30px;
     text-align: right;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
 
 .subtitulo_contenido{
     margin-right: 30px;
     text-align: right;
     font-family: sans-serif;;
     color: lightslategray;
 }
 
 .texto_contenido{
     margin-right: 30px;
     text-align: right;
     font-family: sans-serif;
     color: lightslategray;
 }
 
 .rescate_logo{
    
 float: right;
 margin-right: 30px;
     width: 380px;
     height: 180px;
 }
 
 .comida_logo{
 
     width: 380px;
     height: 180px;
 
 
 }
 
 .titulo_contenido1{
 
     margin-right: 30px;
     text-align: left;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
 
 .subtitulo_contenido1{
     margin-right: 30px;
     text-align: left;
     font-family: sans-serif;;
     color: lightslategray;
 }
 
 .texto_contenido1{
     margin-right: 30px;
     text-align: left;
     font-family: sans-serif;
     color: lightslategray;
 }

 .linea{
    margin-right: 30px;
    width: 50px;
float: right;

 }
 
 .linea2{
    margin-right: 30px;
    float: left;
    width: 50px;


 }
 
 
 
 footer {
     width: 100%;
     height: 300px;
     background-color: 	#E6E6E6;
 }

 .boton{
    margin: 30px;
    text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color:#000000;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color: transparent;
    border-width: 3px;
    border-style: solid;
    border-color: #000000;
    } 

    .galeria{
        background-color:#6DCCAA!important;
        border:none!important;
        box-shadow: none!important;
        margin: 60px;
    }

    .galeria img  {
        width: 30%;
        height: 30%;
      margin: 10px;
        
    }
    
 .texto_footer{
     font-family: sans-serif;
 }

 .contact-main form {
    width: 350px;
    margin: auto;
    background: rgba(255,255,255,20);
    background: #6DCCAA;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 7px;
    
}

.contact-main H3 {
    color:white;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
    
}


.select {
    position: relative;
    border: 1px solid #ccc;
    width: 100%;
    height: 35px;
    line-height: 20px;
    margin: 10px auto 10px;
    overflow: hidden;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 8px;
  }
    .select:before {
      content: '';
      position: absolute;
      right: 5px;
      width: 0;
      height: 0;
      border-style: double;
      border-width: 7px 5px 0 5px;
      border-color: #000000 transparent transparent transparent;
      z-index: 5;
      pointer-events: none;
    }
    .select select {
      padding: 5px 8px;
      width: 130%;
      border: none;
      box-shadow: none;
      background-color: transparent;
      background-image: none;
      appearance: none;

      
    }

.contact-main input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    border-radius: 10px;
     
    
}

.contact-main label {
 color: white;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

#BOTON {
    background: #6DCCAA;
    color: #fff;
    padding: 2px;
}
 


@media (max-width:1024px) {
    
    .auto_landing {
        width: 100%;
        height: auto;
        
    }

    .landing_inferior{
        columns: 3;
        flex-direction: column;
        
    }
    .eslogan {
        float:none;
        text-align: center;
        }
    .mensaje{
        float:none;
        text-align: center;

    }
    .social {
  margin-left: 130px;
    justify-content: center;
    
    }

    header {
        height: 250px;
      
    }

    .navegacion {
        float:none;
        width: 80%;
        margin:auto;


   
    }

    .navegacion li {
        width: 100%;
        margin-top:12px;
        text-align: center;

    }

    .landing {
        height: auto;
    }

    
    .contenido {
        columns: 2;
        flex-direction: column;

    }

    .rescate_logo{

        float: none;
        margin-right: 0;
        }
          

}

